.Nav-Sky{
    background-color: #BDF6FE;
    text-align: center;
    border-bottom: groove;
}

.Sky-Words{
    display: ruby;
}

.Sky-Links button{
    background-color: black;
    color: pink;
}
/*Nav-Sky END*/

/*Profile-Clouds START*/

.Profile-Clouds{
    background-image: url(../media/Rain-Rainbow.jpg);
    position:relative;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}



.Cloud-Picture{
    background-image: url(../media/Cloud\ Face.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 55%;
}

.Cloud-Picture img{
    width:50%;
    padding-top: 10%;
}

.Cloud-Words{
    color: white;
}

/*Profile-Clouds END*/


/*Projects-Tree START*/

.Projects-Tree{
    background-image: url(../media/imma\ tree.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top:5%;
    padding-bottom: 10%;
}

.Bench-Title{
    background-image: url(../media/Bench.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-bottom: 30%;
}

.Bench-Title h1{
    padding-top: 30%;
    color: white;
}

.Tree-Showcase h1{
    background-color: white;
    text-align: center;
}

/*Projects-Tree END*/

/*About-Roots START*/

.About-Roots{
    background-color: brown;
    color: pink;
}

.About-Roots h1{
    text-align: center;
    color: white;
}

.About-Me{
    text-align: center;
}

.About-Links{
    list-style-type: none;
    text-align: center;
}

.About-Links li{
    display: inline;
}

/*About-Roots END*/

/*Nav-Rocks START*/

.Nav-Rocks{
    background-color: black;
    color: lightgray;
    text-align: center;
}

.Rock-Links{
    list-style-type: none;
    text-align: center;
}

.Rock-Links li{
    display: inline;
}

/*Nav-Rocks END*/

/*Sizing START*/

@media (min-width:576px)/*phone sized. no need*/{

}

@media (min-width:768px) /*Tablet sized*/ {
    .Cloud-Words{
        padding-top: 30%;
    }   


    .Cloud-Picture img{
        width: 100%;
        padding-top: 20%;
        padding-left: 40%;
    }
}

@media (min-width:992px) /*Laptop Sized*/ {
    .Sky-Words h3{
        font-size: 50px;
    }

    .Sky-Links{
        font-size: xx-large;
    }

    /*Nav-Sky END*/

    .Cloud-Words{ 
        padding-top: 15%;
    }
    .Cloud-Words h1{
        font-size: 65px;
    }

    .Cloud-Words h3{
        font-size: 45px;
    }

    .Cloud-Picture{
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 20%;
    }

    .Cloud-Picture img{
        width: 100%;
        padding-top: 20%;
        padding-left: 12%;
    }

    /*Profile-Clouds END*/

    /*Projects-Tree START*/
    .Bench-Title h1{
        font-size: 60px;
    }

    .Tree-Showcase h1{
        font-size: 60px;
    }
    
    /*Projects-Tree END*/
    .About-Roots h1{
        font-size: 80px;
    }

    .About-Roots p{
        font-size: 50px;
    }

    .About-Roots h6{
        font-size:60px
    }

    .About-Roots ul li{
        font-size:50px;
    }
    /*About-Roots END*/

    .Nav-Rocks p{
        font-size: 60px;
    }
}

@media (min-width:1200px) /*desktop sized*/ {
   
}