.Nav-Sky{
    background-color: #BDF6FE;
    text-align: center;
    border-bottom: groove;
}
/*Nav-Sky END*/

.Profile-Clouds{
    background-image: url(../media/Rain-Rainbow.jpg);
    position:relative;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.Cloud-Links{
    list-style-type: none;
}


/*Profile-Clouds END*/

