.Nav-Sky{
    background-color: #BDF6FE;
    text-align: center;
    border-bottom: groove;
}
/*Nav-Sky END*/

.Profile-Clouds{
    background-image: url(../media/Rain-Rainbow.jpg);
    position:relative;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.Cloud-Links{
    list-style-type: none;
}

.Cloud-Picture{
    background-image: url(../media/Cloud\ Face.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

.Cloud-Picture img{
    width:50%;
    padding-top: 10%;
}

/*Profile-Clouds END*/

